.background {
    background-image: url('https://img.freepik.com/free-photo/maple-leaf-border-background-orange-watercolor-autumn-season_53876-128735.jpg?w=2000');
    /* background-image: repeating-radial-gradient(skyblue, darkblue); */
    min-height: 100vh;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
  }
  .background1 {
    background-image: linear-gradient(to right top, #e30ba2, #0bdfe3);
    padding: 50px;
  
    background-size: cover;
    width: 30vw;
    border-radius: 10px;
    text-align: center;
    color: yellow;
  }
  .input {
    height: 5vh;
    width: 20vw;
    border-radius: 5px;
    text-align: center;
  }
  .uday {
    display: flex;
    justify-content: space-around;
    color: white;
  }
  
  .weatherImage {
    height: 22vh;
    width: 10vw;
  }
  
  @media screen and (min-width: 200px) and (max-width: 950px) {
    .background1 {
      background-image: linear-gradient(
        to right top,
        #051937,
        #004d7a,
        #008793,
        #00bf72,
        #a8eb12
      );
      padding: 50px;
  
      background-size: cover;
      width: 90vw;
      border-radius: 10px;
      text-align: center;
      color: yellow;
    }
    .input {
      height: 3vh;
      width: 40vw;
      border-radius: 5px;
      text-align: center;
    }
    .weatherImage {
      height: 30vh;
      width: 20vw;
    }
  }
  